body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:771px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:0px;
  width:706px;
  height:564px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:562px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:727px;
  height:562px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:102px;
  width:628px;
  height:176px;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:101px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:69px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:0px;
  width:101px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:42px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:0px;
  width:153px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:140px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:95px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:91px;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:140px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:36px;
  width:101px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:97px;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:140px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:36px;
  width:67px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:63px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:140px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:36px;
  width:69px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:65px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:140px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:36px;
  width:101px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:97px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:140px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:36px;
  width:42px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:38px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:140px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:36px;
  width:153px;
  height:140px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#0000FF;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black Oblique', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:20px;
  color:#FF00FF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:17px;
  width:283px;
  height:55px;
  font-family:'Arial Black Oblique', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:20px;
  color:#FF00FF;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:279px;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:129px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:142px;
  width:103px;
  height:129px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
